

<div class="collection_content">
  <%= link_to image_tag('back.svg'), collections_path %>

  <div class="post_title collection_title">
    <h1 class="">Редактирование подборки</h1>
  </div>

</div>

<%= render 'form', collection: @collection %>
