<div class="collection_content">
  <%= link_to image_tag('back.svg'), artists_path %>

  <div class="post_title collection_title">
    <h1 class="">Создание артиста</h1>

  </div>

</div>


<%= render 'form', artist: @artist %>
