<div class="index_handb">
</div>

<%= react_component('O_HeaderAdmin', current_user: current_user)  %>
<div class="titleadminblock">
  <h1 class="titleadmin titleform">Новый артист</h1>
</div>


<%= render 'form', artist: @artist %>
