<div class="index_handb">
</div>

<%= react_component('O_HeaderAdmin', current_user: current_user)  %>
<div class="titleadminblock">
  <h1 class="titleadmin titleform">Новый образ</h1>
</div>

<%= render 'form', look: @look %>

<%= link_to 'Back', looks_path %>
