<div class="collection_content">
  <%= link_to image_tag('back.svg'), types_path  %>

  <div class="post_title collection_title">
    <h1 class="">Создание стиля</h1>

  </div>

</div>

<%= render 'form', type: @type %>
