<section class="section futer">
  <p>© 2021</p>
  <ul class="futer__links">
    <li class="futer__link">
      <%= link_to "О нас" %>
    </li>
    <li class="futer__link">
      <%= link_to "Блог", posts_path %>
    </li>
  </ul>
</section>
