<header class="header">
  <h1>FLAVA</h1>
  <ul>
    <li class="header__link">
      <%= link_to "Промо", promo_path %>
    </li>
    <li class="header__link">
      <%= link_to "О нас", about_path %>
    </li>
    <li class="header__link">
      <%= link_to "Блог", posts_path %>
    </li>

  </ul>
</header>
