<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FLAVA</title>
  </head>
  <body>
    <section class="section first">
      <div class="description">
        <h2>
          FLAVA —<br>
          медиа–сервис о визуальных образах музыкальных исполнителей
        </h2>
      </div>
    </section>
    <section class="learn">
      <h2>Узнай, что носят твои кумиры и как связаны музыкальные жанры и мода</h2>
    </section>
    <section class="do">
      <div class="mockup">

      </div>
      <div class="facts">
        <div class=""><h3>Следи за стилем любимых артистов</h3></div>
        <div class=""><h3>Вдохновляйся образами</h3></div>
        <div class=""><h3>Сохраняй понравившиеся луки</h3></div>
        <div class=""><h3>Находи крутые вещи</h3></div>
      </div>
    </section>
    <section class="section last">
      <h2>Узнай первым о запуске проекта!</h2>
      <h3>Подпишись на нашу рассылку:</h3>
      <%= render "subscribers/form" %>
    </section>

  </body>
</html>
