<%= render "promo/navbar" %>
<h3 class="h3_titlepost Editing_post">Создание</h3>


<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path, :class =>"link_newpost link_newpost_edit" %>
<div class="post_extra"></div>

<%= render "promo/futer" %>
