<%= render "promo/navbar" %>
<section class="a_heading">
  <h1>Медиа-сервис о&nbspстиле музыкальных исполнителей</h1>
</section>
<section class="a_concept">
  <h1>Концепция</h1>
  <h2>Платформа, где собрана подробная информация об&nbspобразах артистов разных времён и&nbspжанров. Платформа для&nbspтех, для&nbspкого музыкальная индустрия — не&nbspтолько сама музыка, но&nbspи&nbspвизуал</h2>
</section>
<section class="research">
  <h1>Исследования</h1>
  <p class="per_big">86%</p>
  <h2>обращают внимание на&nbspодежду музыкантов, чья музыка им нравится</h2>
  <div class="percent_group">
    <div class="percent">
      <p class="per_small">79%</p>
      <h3>считают, что внешний образ артиста важен для&nbspпонимания его&nbspмузыки</h3>
    </div>
    <div class="percent">
      <p class="per_small">75%</p>
      <h3>замечают, что стиль музыканта влияет на&nbspпредпочтения в&nbspодежде его слушателей</h3>
    </div>
    <div class="percent">
      <p class="per_small">60%</p>
      <h3>любят читать/смотреть/слушать о&nbspвизуальной культуре артистов</h3>
    </div>
  </div>
  <p class="participants">* 101 участник опроса</p>
</section>
<section class="conclusion">
  <h2>Выводы</h2>
  <h3>Слушателям интересна не&nbspтолько музыка, но&nbspи&nbspвизуальная подача и&nbspстиль исполнителей. Артисты влияют на&nbspмоду, задают тренды. Люди любят смотреть на&nbspобразы кумиров и&nbspвдохновляются ими</h3>
</section>
<section class="audience">
  <h1>Целевая аудитория</h1>
  <h2>Фанаты, которые следят за&nbspлюбимыми исполнителями</h2>
  <h2>Стилисты и&nbspдизайнеры одежды, изучающие и&nbspанализирующие моду в&nbspконтексте музыкальной индустрии</h2>
  <div class="segments">
    <div class="segment main">
      <h3>Основная</h3>
      <h4>фанаты, стилисты, дизайнеры одежды</h4>
    </div>
    <div class="segment ">
      <h3>Косвенная</h3>
      <h4>слушатели музыкантов, артисты, модники</h4>
    </div>
    <div class="segment wide">
      <h3>Широкая</h3>
      <h4>люди, которые интересуются музыкой и&nbspстилем</h4>
    </div>
    <div class="segment ">
      <h3>Узкая</h3>
      <h4>фанаты, модники, начинающие музыканты</h4>
    </div>
  </div>
</section>
<section class="possibilities">
  <h1>Возможности</h1>
  <div class="screeens"></div>
  <div class="list">
    <h3>Следить за образами любимых исполнителей</h3>
    <h3>Узнавать, что носили музыканты разных жанров в разное время</h3>
    <h3>Находить вещи, как у артистов</h3>
    <h3>Сохранять понравившиеся вещи и идеи образов</h3>
  </div>
</section>
<section>
  <div class="job">
    <h1>Job story</h1>
    <h3>Когда собираюсь на концерт, хочу узнать об особенностях стиля исполнителей этого жанра, чтобы влиться в комьюнити фанатов</h3>
  </div>
  <div class="user">
    <h1>Job story</h1>
    <h3>Я как стилист, хочу смотреть и читать об образах артистов, чтобы понимать, как используются тренды </h3>
  </div>
  <div class="unisex"></div>
</section>
<section class="inspire">
  <h2>Вдохновляйся стилем любимых артистов вместе с FLAVA</h2>
  </section>
<%= render "promo/futer" %>
