/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 255px;
  background: white;
  padding: 150px 60px;
  padding-right: 0px;
  box-sizing: border-box;
  /* background: black; */

  /* display: none; */
}
.menubar {
  position: fixed;
  top: 0;
  left: 0;
  height: 102px;
  width: 100%;
  background: white;
  padding: 29px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* display: none; */
}
.menubar img {
  width: 13.5vw;
}
.profile {
  width: 43px;
  height: 43px;
  background: #181818;
  border-radius: 50px;
}
html {
  margin-left: 285px;
  margin-top: 102px;
}

.menubar_left img{
  width: 3vw;
}
.menubar_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
}

@font-face {
    font-family: 'Pangram Medium';
    src: url('PPPangramSans-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

* {
  font-family: 'Pangram Medium';
}
.notice, .alert {
  margin-bottom: 3vh;
}
.sidebar li{
  margin-top: 1.5vh;
  font-family: 'Pangram Semibold';
}
.ul1 {
  margin-top: 12vh;
}
.ul2 {
  margin-top: 6vh;
}
.sidebar a {
  transition: all .2s;
}
.sidebar a:hover {
  color: #FC62FF;
}
