// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$Fontb: 'Pangram Semibold';
h1 {
  font-family: $Fontb;
  font-size: 64px;
  line-height: 80px;
  display: inline-block;
}

.index_handb {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
  box-sizing: border-box;
  width: 100%;

}
.filter {
  margin-bottom: 6vh;
}

.filter a, .filter_inartistpage {
  box-sizing: content-box;
  font-family: $Fontb;
  margin-right: 1vw;
  padding: 1.3vh 1.8vw;
  // background: #FC62FF;
  color: #111112;
  border: 2px solid #FC62FF;
  transition: all .2s;

}
.filter_inartistpage {
  display: inline-block;
}
.filter a:hover {
  background: #FC62FF;
}

.styles a{
  border: 2px solid #33FEB4;
}

.styles a:hover{
  background: #33FEB4;
}

table {
  margin-left: 301px;
  width: 1049px;
  padding-right: 90px;
}
tbody:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  text-align: left;
  padding-right: 10px;
  color: #F2F2F2;
  font-family: 'Pangram Semibold';
  font-size: 28px;


}
.firstth {
  padding: 15px 10px 0 10px;
}
.firstth img {
  padding-bottom: 5px;
}
.firstthtitle {
  padding-top: 0px;
}
.firstthtitlelooks {
  padding-right: 20px;
}
.firstthtitlecollect {
  width: 55px;
}
.posttitleth {
  width: 500px;
}
.posttitlethcollect {
  width: 855px;
}
.aintd a {
  width: 100%;
}
td {
  color: #F2F2F2;
  font-family: 'Pangram Medium';
  font-size: 18px;
  line-height: 30px;
  padding-right: 30px;
  padding: 15px 30px 15px 0;
  height: auto;
  vertical-align: top;
}
thead th {
  // background: #F2F2F2;
  padding: 20px 0px;
}
tbody tr {
  border: 3px solid #33323D;
  border-right: none;
  border-left: none;
  border-bottom: none;
}
td a {
  color: #F2F2F2;
  font-family: 'Pangram Medium';
  font-size: 18px;
  line-height: 30px;
  display: block;
}

.titleadminblock {
  display: flex;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 40px;
}
.titleadmin {
  margin-top: 0px;
  margin-bottom: 0px;

}
.link_new {
  font-family: 'Pangram Semibold';
  font-size: 18px;
  color: #F2F2F2;
  transition: all .2s;
  width: auto;
  margin-left: 30px;
  height: auto;
  margin-top: 10px;
}
.link_new:hover {
  color: #938D98;
}
.fontbold {
  font-family: $Fontb;
}
.table1 {
  padding-left: 2vw;
}
.user_view {
  width: 3vw;
}
.user_view2 {
  width: 3.3vw;
}
.brand_link a {
  transition: all .2s;
}
.brand_link a:hover {
  color: #FC62FF;
}


.button_to input, .look_buttons a{
  font-family: "Pangram Medium";
  font-size: 18px;
  line-height: 30px;
  color: #F2F2F2;
  transition: all .2s;
  background: none;
  width: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.button_to input:hover {
  color: white;
}
.artist_extra_info form {
  // margin-left: 12vw;
  margin-left: auto;
  margin-right: 0;
  margin-top: 7vh;
}
.h1_postsinartist {
  margin-top: 10vh;
  margin-left: 3.6vw;
  margin-bottom: 5vh;
}
.posts_inartist {
  margin-left: 3.6vw;
}
.posts_inartist_item {
  margin-right: 2vw;
}
.posts_inartist > * {
  display: inline-block;
}
.posttitle_inartist {
  font-family: $Fontb;
  font-size: 24px;
  margin-top: 0.7vh;
  // margin-top: 1.5vh;
}
.posts_inartist_bottom{
  // display: inline-block;
  margin-top: 1.2vh;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;

}

.link_edit {
  display: block;
  margin-left: 64.35vw;
  // margin-top: 3vh;
}
.futter {
  height: 7vw;
  margin-top: 7vw;
  margin-left: 3.7vw;
  display: flex;
  justify-content: space-between;
}
.futter p {
  font-family: $Fontb;
  color: #111112;
  margin-bottom: 1vh;
}
.futter div {

}
.futterindex {
  height: 7vw;
  margin-top: 10vw;
  // margin-left: 3.7vw;
  display: flex;
  justify-content: space-between;
}
.futterindex p {
  font-family: $Fontb;
  color: #111112;
  margin-bottom: 1vh;
}
.artist_posts {
  margin-bottom: 100px;
}
.artist_looks_title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.artist_looks {
  margin-bottom: 130px;
}
.artist_artists .firstblockart {
  justify-content: center;
}
.artist_artists .firstblockart .M_Artist {
  margin-right: 15px;
  margin-left: 15px;
}

.nameandicons {
  display: flex;
  justify-content: space-between;
  margin-top: 106px;
  padding: 0 200px 0 220px;
}
.nameandicons h3 {
  padding: 0;
  margin-top: 0;
}
.artist_block {
  margin-top: 44px;
  // padding: 0 305px;
  padding-left: 345px;
  padding-right: 304px;
  display: flex;

}
.artistphoto {
  width: 213px;
    height: 240px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.artistphoto img {
  width: auto;
  height: 365px;
}
.artist_info {
  margin-left: 30px;
  width: 507px;
}
.artist_info p {
  font-family: "Pangram Medium";
  font-size: 18px;
  line-height: 20px;
  color: #F2F2F2;
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
}
.artist_info_line {
  width: 400px;
  height: 3px;
  background: #33323D;
}


.artist_info_item {
  height: 80px;
  margin-top: 40px;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icons a {
  position: relative;
  margin-left: 20px;
  height: auto;
}
.titleinartist {
  padding-left: 90px;
  margin-top: 76px;
  margin-bottom: 74px;
}
.extrasmall2 {
  height: 80px;
}
.artist_info .artist_info_item:first-child {
  margin-top: 0;
}
.artist_info_item {
  margin-top: 9px;
}
.artist_info p {
  margin-top: 33px;
  margin-left: 30px;
}
.artist_info_item p:nth-of-type(1) {
  margin-left: 0;
}
.artist_info_item2 p:nth-of-type(2) {
  margin-left: 80px;
}
.artist_info_item3 p:nth-of-type(2) {
  margin-left: 47px;
}
