// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$Fontb: 'Pangram Semibold';
h1 {
  font-family: $Fontb;
  font-size: 48px;
  margin-bottom: 1.5vh;
  display: inline-block;
}

.index_handb {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
  box-sizing: border-box;
  width: 100%;

}
.filter {
  margin-bottom: 6vh;
}

.filter a, .filter_inartistpage {
  box-sizing: content-box;
  font-family: $Fontb;
  margin-right: 1vw;
  padding: 1.3vh 1.8vw;
  // background: #FC62FF;
  color: #111112;
  border: 2px solid #FC62FF;
  transition: all .2s;

}
.filter_inartistpage {
  display: inline-block;
}
.filter a:hover {
  background: #FC62FF;
}

.styles a{
  border: 2px solid #33FEB4;
}

.styles a:hover{
  background: #33FEB4;
}
table {
  width: 100%;
}
tbody:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}

th {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  vertical-align: middle;
  text-align: left;
}
td {
  vertical-align: middle;
}
thead tr {
  background: #F2F2F2;
  padding: 1vh 0;
}
tbody tr {
  height: 10vh;
}
.font24 {
  font-family: $Fontb;

  // font-size: 24px;
  // line-height: 26px;
}
.font20 a{

  color: #181818;
}
.link_new {
  font-family: $Fontb;
  color: #181818;
  transition: all .2s;
}
.link_new:hover {
  color: #FC62FF;
}
.fontbold {
  font-family: $Fontb;
}
.table1 {
  padding-left: 2vw;
}
.user_view {
  width: 3vw;
}
.user_view2 {
  width: 3.3vw;
}
.brand_link a {
  transition: all .2s;
}
.brand_link a:hover {
  color: #FC62FF;
}
.artist_photo, .artist_info, .post_info {
  display: inline-block;
  vertical-align: top;

}
.artist_photo {
  margin-left: 2vw;
}
.artist_name {
  margin-top: 1.5vh;
}
.artist_info {
  margin-left: 4.2vw;
}
.artist_info h1 {
  margin-right: 2.5vw;
}
.artist_info_top > * {
  display: inline-block;
}
.artist_info_top {
  margin-bottom: 6vh;
}
.social_link {
  margin: 0 0.5vw;
}
.info_margin_big {
  margin-top: 12vh;
}
.info_margin {
  margin-top: 6vh;
}
.strong_title {
  display: block;
  margin-bottom: 1.5vh;
}
.artist_extra_info {
  margin-left: 3.7vw;
}
.extra_info_strong {
  width: 30vw;
  margin-left: 8.7vw;
}
.extra_info_strong4 {
  margin-left: 3vw;
}
.extra_info_strong3 {
  margin-left: 7.7vw;
}
.extra_info_strong2 {
  margin-left: 6.05vw;
}
.artist_extra_info {
  display: flex;
}
.artist_extra_info > * {
  display: inline-block;
  vertical-align: top;
}

.button_to input{
  box-sizing: content-box;
  font-family: $Fontb;
  font-size: 18px;
  // margin-right: 1vw;
  padding: 1.5vh 1.8vw;
  background: #FC62FF;
  color: #111112;
  border: 2px solid #FC62FF;
  transition: all .2s;
  width: auto;
  border-radius: 0;
}
.button_to input:hover {
  background: none;
}
.artist_extra_info form {
  // margin-left: 12vw;
  margin-left: auto;
  margin-right: 0;
  margin-top: 7vh;
}
.h1_postsinartist {
  margin-top: 10vh;
  margin-left: 3.6vw;
  margin-bottom: 5vh;
}
.posts_inartist {
  margin-left: 3.6vw;
}
.posts_inartist_item {
  margin-right: 2vw;
}
.posts_inartist > * {
  display: inline-block;
}
.posttitle_inartist {
  font-family: $Fontb;
  font-size: 24px;
  margin-top: 0.7vh;
  // margin-top: 1.5vh;
}
.posts_inartist_bottom{
  // display: inline-block;
  margin-top: 1.2vh;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;

}

.link_edit {
  display: block;
  margin-left: 64.35vw;
  // margin-top: 3vh;
}
.futter {
  height: 7vw;
  margin-top: 7vw;
  margin-left: 3.7vw;
  display: flex;
  justify-content: space-between;
}
.futter p {
  font-family: $Fontb;
  color: #111112;
  margin-bottom: 1vh;
}
.futter div {

}
.futterindex {
  height: 7vw;
  margin-top: 10vw;
  // margin-left: 3.7vw;
  display: flex;
  justify-content: space-between;
}
.futterindex p {
  font-family: $Fontb;
  color: #111112;
  margin-bottom: 1vh;
}
