// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// .collection_content {
//   display: flex;
//   justify-content: space-between;
// }

.firstblockcollect {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 90px;
}
.firstblockcollect .collectioncardsmall:last-child {
  margin-right: 0;
}
.secondtblockcollect {
  margin-bottom: 30px;
  padding: 0 90px;

}
.collectioncardsmall {
  width: 292px;
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
.collectioncardsmall img {
  width: 100%;
  display: block;
}
.collectcardcontent {
  width: 100%;
  display: block;
}
.collectcardcontent h2 {
  font-size: 30px;
  line-height: 40px;
  font-family: 'Pangram Bold';
  color: #F2F2F2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.collectcardcontent span {
  color: #F2F2F2;
  margin-top: 28px;
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #F2F2F2;
  font-family: 'Pangram Semibold';
}



.colectionshow_block {
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 74px;
  margin-bottom: 120px;

}
.colection_desc {
  width: 400px;
}


.colection_desc p {
  font-family: 'Pangram Medium';
  font-size: 18px;
  line-height: 30px;
  color: #F2F2F2;
  margin-top: 12px;
}

.share_button_alone {
  margin-left: 0;
  margin-top: 30px;
}
.share_button_alone {
  width: 243px;
}
.titleincollection {
  margin-top: 0;
  padding-left: 90px;
  margin-bottom: 74px;
}
.extralittle {
  height: 40px;
}
