.M_Artist {
  width: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.M_Artist  p {
  font-family: "Pangram Medium";
  font-size: 18px;
  line-height: 30px;
  margin-top: 10px;
  color: #F2F2F2;
}
.M_Artistphoto {
  position: relative;
  margin: 0 auto;
}
.Artistlink {
  width: 100%;
  height: 100%;
}

.firstblockart {
  display: flex;
  justify-content: flex-start;
  padding: 0 198px;
}

.artists_block {
  margin-bottom: 126px;
}
.firstthtitleartists {
  width: 180px;
}
.artisttitleth {
  width: 650px;
}
