.firstblockpost {
  position: relative;
  column-count: 2;
  margin-bottom: 15px;
  padding: 0 90px;

}
.firstblockpost .postcard {
  width: 615px;
}
.postcard {
  overflow: hidden;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  align-items: center;  
  break-inside: avoid;
  page-break-inside: avoid;


}
.postcard img {
  width: 35% ;
  display: inline-block;
}
.postcardcontent {

  height: auto;
  display: inline-block;

}
.postcardcontent h2 {
  margin-left: 30px;
  margin-top: 37px;

}
.postcardcontent span {
  color: #F2F2F2;
  margin-left: 30px;
  display: block;
}
.postcardcontent .art-button_block {
  width: 100%;
  margin-bottom: 10% !important;
}

.postlink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% ;
  height: 100%;
}

.firstblockpost_small {
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
}
.postcardsmall_bottom {
  width: 100% !important;
  height: 32px !important;
}
.postcardsmall_bottom .art-button_block {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0 !important;
}
.postcardsmall_bottom .Category--default {
  position: absolute;
  right: auto;
  left: 0;
  bottom: 23px;
  top: auto;
}
.postcardbig {
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.firstblockpost1 {
  margin-bottom: 90px;
  padding: 0 90px;

}
.firstblockpost2 {
  margin-top: 90px;
}

.postcardsmall_bottom .Topblock_lookcard {
  justify-content: flex-end;
  width: 100% !important;
}
.banner .art-button_block {
  padding: 48px 48px 0 48px ;
}
.banner  h2 {
  font-size: 50px;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.banner .bannercontent p{
  color: #F2F2F2;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  width: 80%;
}
.banner  span p{
  margin: 0 auto;
}
.banner .Category--default {
  position: absolute;
  top: auto;
  bottom: 40px;
  left: calc(50% - 55px);
}
.switch {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
