@font-face {
    font-family: 'Halvar Breit Md';
    src: url('HalvarBreit-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$Font: 'Halvar Breit Md', sans-serif;
@mixin font($s: 11px, $l: 24px, $mt: 67px) {
font-size: $s;
line-height: $l;
margin-top: $mt;
}

h4 {
  font-family: $Font;
  @include font(24px, 26px, 10px);

}
.posts {
  display: flex;
  flex-wrap: wrap;
  margin: 48px 80px;
}
.posts_item {
  display: flex;
  flex-direction: column;
  width: 354px;
  // margin-right: 5vw;
  // margin-bottom: 6vw;
  background: #FFFFFF;
  // box-shadow: 2px 2px 15px rgba(123, 132, 165, 0.2), 0px 0px 10px rgba(177, 180, 188, 0.15);
  // border-radius: 10px;
}
.post_main {
  display: flex;
  flex-wrap: wrap;
}
