
body {
  background-color: #F5F5F5;
  color: #333;
  // margin: 60px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  // color: #000;
}

a:visited {
  color: #666; }

// a:hover {
//   color: #fff;
//   background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  // padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.header {
  display: flex;
  background: white;
   ul {
     display: flex;
     li {
       transition: .5s;
       padding-top: 34px;
       a {
         font-family: 'Halvar Breit Md', sans-serif;
         font-size: 20px;
         line-height: 20px;
         font-weight: 500;
         color: black;
         text-decoration: none;
         padding: 0 29px;
       }
     }
   }
   h1 {
     font-family: 'Halvar Breit Md', sans-serif;
     font-size: 48px;
     line-height: 48px;
     font-weight: 500;
     color: black;
     margin-right: 38px;
     padding: 21px 60px;
     display: block;
   }
}
.header li:hover {
  background: #BCF369;
  cursor: pointer;
  transition: .2s;
}

$Font: 'Halvar Breit Md', sans-serif;
@mixin font($s: 11px, $l: 24px, $mt: 67px) {
font-size: $s;
line-height: $l;
margin-top: $mt;
}

.futer {
  height: 128px;
  background: black;
  display: flex;
  justify-content: space-between;
  padding:  36px 2px 36px 60px;
  p {
    font-family: $Font;
    @include font(20px, 23px, 0px);
    color: #BCF369;
  }
  ul {
    display: flex;
  }
  li {
    font-family: $Font;
    @include font(20px, 23px, 0px);
    margin-right: 58px;
    a {
      color: #BCF369;
      text-decoration: none;
      transition: .4s;
    }
  }
}

.futer li a:hover {
  color: #B09CFF;
  transition: .2s;
}
