body {
  background-color: #fff;
  color: #111112;

}

  @font-face {
      font-family: 'Pangram';
      src: url('PPPangramSans-Medium.otf') format('OpenType');
      // font-weight: 500;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Pangram Bold';
      src: url('PPPangramSans-Bold.otf') format('OpenType');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }

$Font: 'Pangram';
$Fontb: 'Pangram Semibold';
body, p, ol, ul {
  font-family: $Font;
  font-size: 18px;
  line-height: 20px; }


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #111112;
  text-decoration: none;
}



// a:hover {
//   color: #fff;
//   background-color: #000; }

// th {
//   padding-bottom: 5px; }
//
// td {
//   padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
  @font-face {
      font-family: 'Pangram Semibold';
      src: font-url('PPPangramSans-Semibold.otf') format('OpenType');
      font-weight:bold;
      font-style: normal;
      font-display: swap;
  }
.menubar_left a {
  font-family: $Fontb;
  color: #181818;
}
.collection_title {
  margin-left: 2vw;
  // margin-bottom: 16vh;
}
.collection_extra_info form {
  margin-top: 5vh;
}

.link_editcollection {
  margin-top: 1.2vh;
}

.user_info {
  margin-bottom: 3vh;
}
.user_info_block {
  margin-left: 2vw;
}
.link_new_user {
  margin-left: 0.5vw;
  margin-top: 0;

}
.user_link_edit {
  margin-left: 3.7vw;
  margin-top: 1vh;
}

.user_link_edit > * {
  display: inline-block;
  vertical-align: middle;
}
.user_link_edit_item p {
  margin-top: 0.5vh;
}
.f_extra_info_strong {
  margin-left: 2vw;
}
.filtertag_link_edit {
  margin-top: 10vh;
  margin-bottom: 8vh;
}
.filtertag_link_edit_item > * {
  display: inline-block;
  vertical-align: middle;
}
.filtertag_extra {
  margin-right: 16vw;
}
.link a {
  transition: all .2s;
}
.link a:hover {
  color: #FC62FF;
}
.link_shop {
  margin-top: 1.9vh;
  margin-left: 5vw;
}
.cloth_photo, .cloth_photo img  {
  display: block;
}
.cloth_photo div {
  margin-top: 6vh;
}
.c_extra_info_strong {
  margin-left: 4.4vw;
}

.field p {
  font-family: "Pangram Medium";
  color: #F2F2F2;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 20px;
}
input {
  width: 400px;
  background: #101010;
  border: solid 3px #33323D;
  padding: 1vh 2vh;
  font-family: "Pangram Medium";
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2vh;
  color: #F2F2F2;

}
input::placeholder {
  color: #938D98;
}
textarea {
  width: 400px;
  background: #101010;
  border: solid 3px #33323D;
  padding: 1vh 2vh;
  font-family: "Pangram Medium";
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2vh;
  color: #F2F2F2;
  height: 180px;
}
h2 {
  font-family: 'Pangram Bold';
  color: #F2F2F2;
  font-size: 30px;
  line-height: 40px;
  display: inline-block;

}
span {
  font-family: $Fontb;
}
.h2_form {
  margin-top: 8vh;
}
.p_form {
  display: block;
}
.photo_form input {
  background: none;
  width: 20vw;
}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgb(16, 16, 1), rgb(242, 242, 242)) !important;
    color: fieldtext !important;
}

select {
  width: 293px;
  background: #101010;
  border: solid 3px #33323D;
  padding: 12px 12px;
  font-family: "Pangram Medium";
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2vh;
  color: #F2F2F2;
}
.social_link_form {
  display: block;
}
.social_link_form2 {
  margin-bottom: 1vh;
}
.social_link_form1 {
  margin-bottom: 3vh;
}
.button_form {
  margin-left: 3.7vw;
  margin-top: 8vh;
}
.button_form input, .deleteacc input {
  box-sizing: content-box;
  font-family: $Fontb;
  padding: 1.3vh 1.8vw;
  width: auto;
  color: #111112;
  border: 2px solid #33FEB4;
  background: #33FEB4;
  transition: all .2s;
  margin-bottom: 16vh;
}
.button_form input:hover {
  background: none;
}
.field_desc p + p {
  font-family: $Font;
  font-size: 16px;
  line-height: 18px;
  margin-top: 0.5vh;
  width: 40vw;
}
.field_i i, .field_i em {
  font-family: $Font;
  font-size: 16px;
  line-height: 18px;
  margin-top: 0.5vh;
  width: 40vw;
}


.deleteacc input {
  border: 2px solid #FC62FF;
  background: #FC62FF;
  margin-left: 3.7vw;
}
.deleteacc p {
  font-family: $Font;
  margin-left: 3.7vw;
  font-size: 16px;
  line-height: 18px;
  margin-top: 0.5vh;
  width: 40vw;
  margin-bottom: 1vh;
}
.formuser_title {
  margin-left: 3.7vw;
}
.button_form1 a {
  font-family: $Fontb;
  margin-left: 2vw;
  font-size: 18px;
}
.button_form1 input {
  font-size: 18px;

}
.field_remember {
  display: flex;
  justify-content: flex-start;
}
.field_remember input {
  width: auto;
}
.field_remember p {
  margin-right: 2vw;
}

.button_form1 {
 display: flex;

}
.button_form1 a {
  height: 2vh;
  margin-top: 1.6vh;
}
