// Place all the styles related to the Subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$Font: 'Halvar Breit Md', sans-serif;
@mixin btn_font($s: 24px, $l: 23px) {
font-size: $s;
line-height: $l;
}
.sub_input {
  font-family: $Font;
  @include btn_font(20px, 20px);
  padding: 18px 0px 18px 35px;
  width: 571px;
  background: black;
  border-radius: 60px;
  border: 2px solid #B09CFF;
  font-size: 20px;
  color: #B09CFF;
  display: block;
  margin-bottom: 13px;
}
input.sub_input::placeholder {
  color: #B09CFF;
}
.sub_btn {
  font-family: $Font;
  @include btn_font;
  padding: 18px 191px;
  background: #B09CFF;
  border-radius: 60px;
  border: 2px solid #B09CFF;
  color: black;
  transition: .4s;
  width: auto;
}
.sub_btn:hover {
  cursor: pointer;
  background: #BCF369;
  border: 2px solid #BCF369;
  transition: .2s;
}
